* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*mantiene el contenido al limite de la pagina, lo ancho y alto se suma automatico con el borde de la caja*/

body {
    display: grid;

}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #e7dd53;
}

header div {
    display: flex;
    align-items: center;
}

header div img {
    width: 100px;
}

header div p {
    text-align: center;
    color: red;
    margin-left: 10px;
    font-weight: 600;
}

header nav {
    display: flex;
    align-items: center;
}

header a {
    margin-right: 10px;
    color: blue;
    text-decoration: none;
    font-weight: 600;
}

header a:hover {
    color: crimson;
}
.secciones{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 10px 0 10px 0;
}
.botones-seleccion{
    font: 1.5em sans-serif;
    text-decoration: none;
    color: coral;
}
#bienvenido{
    text-align: center;
    font-size: 2em;
}
.menus{
    width: 100%;
}
#menu1 {
    background-image: url(https://i.postimg.cc/sDMrhdPx/modelo-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#menu1 p {
    color: white;
    font-size: 2em;
    width: 40%;
    margin-left: 10px;
}

div2 {
    padding: 0 12%;
    text-decoration-line: underline;
}
#menu1 form{
    width: 20%;
}
#menu1 form input{
    width: 100%;
    margin: auto;
    font-size: large;
}
#menu2 {
    background-image: url(https://i.postimg.cc/XJ1KPD2H/modelo-4b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#menu2 p {
    color: white;
    font-size: 1.8em;
    margin-left: 10px;
}

#menu3 {
    background-image: url(https://i.postimg.cc/13TfL1PN/Pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#menu3 p {
    color: white;
    font-size: 2em;
    margin-left: 10px;
}

#menu4 {
    background-image: url(https://i.postimg.cc/m21YkjDM/Ravioles.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#menu4 p {
    color: white;
    font-size: 2em;
    margin-left: 10px;
}

label{
    color: rgb(255, 251, 0);
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 10px;
}
input{
    margin-left: 10px;
}